/*전체 폰트 설정*/
* {
  font-family: Pretendard;
  font-size: 100%;
}

/*포지션 설정*/
.wrap>div {
  position: relative;
}


/*PC에서 너비 1300px로 제한*/
.area {
  max-width: 1300px;
  margin: 0 auto;
}

/*각 페이지별 배경이미지*/

.hm_bg {
  background: url(image/mapBg.png) no-repeat center;
}

.design_bg {
  background: url(image/designBack.png) no-repeat center;
}

.cont_bg {
  background: url(image/contactBg.png) no-repeat center;
}

/* .eq_bg{background: url(image/equipment1.png) no-repeat center;} */
