
    *{font-family: Pretendard; font-size: 100%; }
   .wrap>div{position: relative;}

    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
      }

      .navBar_toggleBtn {
        display: none;
      }
      .navBar_menus {
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: 25rem;
      }
      .navBar_menus_menu link {
        color: #d6d6d6;
        text-decoration: none;
      }

      @media (min-width: 768px){
      .wrap .inner{max-width: 1300px;}
    }
    .area{max-width: 1300px; margin: 0 auto;}
      
      @media screen and (max-width: 768px) {
        body{padding: 0; margin: 0;}

        .navBar {
          justify-content: space-between;
        }
        .navBar_menus {
          display: none;
        }
        .navBar_toggleBtn {
          display: flex;
        }
        .navBar_icons .search {
          display: none;
        }
    }

